{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGC</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container">
        <header>
            <h1>PGC calculator</h1>
        </header>

    <main class="main-content">
      <div class="home-menu">
        <a href="/add-record/" class="menu-button">Add New Record</a>

        <a href="{% url 'history_page' %}" class="menu-button menu-button-secondary">
          View My History
        </a>

        <a href="{% url 'graph_page' %}" class="menu-button menu-button-secondary">
          GPA Charts
        </a>

        <a href="/admin/" class="menu-button menu-button-secondary">
          Admin Panel
        </a>

        <button id="logout-btn" class="menu-button logout-button">
          Log Out
        </button>
      </div>
    </main>
  </div>

    <div class="help-icon">?</div>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>