{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PGC - Sign In</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Sign In</h1>
        <p>Access your GPA history and features</p>
      </header>
      <form method="post" class="card" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
          {{ form.username.label_tag }} {{ form.username }}
        </div>

        <div class="form-group">
          {{ form.password.label_tag }} {{ form.password }}
        </div>

        {% for field, errors in form.errors.items %} {% for error in errors %}
        <p class="error">* {{ error }}</p>
        {% endfor %} {% endfor %}

        <div style="display: flex; gap: 4px; margin-top: 10px">
          <p>New user?</p>
          <a href="{% url 'register' %}">Register</a>
        </div>

        <div style="text-align: center; margin-top: 30px">
          <button class="btn-primary" type="submit">Login</button>
        </div>
      </form>
    </div>

    {% if debug %}
    <script src="{% url 'django_browser_reload:reload' %}"></script>
    {% endif %}
  </body>
</html>
