.text-footer {
  display: flex;
  margin-top: 15px;
  gap: 4px;
  justify-content: flex-start;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.error {
  color: rgb(255, 0, 0);
  font-size: 0.9em;
  margin-top: 5px;
  display: block;
}
